$p-bg-color:yellow;

body{
    margin:0;
    padding:0;
}
// h1,h2,h3,h4,h5,p,span{
//     margin:0;
//     padding:0;
// }
p{
    background-color: $p-bg-color;
}

header h1{
    text-align: center;
}

.main-container{
    display:flex;
    justify-content: flex-start;
}

header{
    padding: 15px;
}
.content-field{

}
.content-players{

}
.live-match{
    display: inline-block;
}